<!-- views/single-post.handlebars -->

<div class="post">
  <h2>{{ title }}</h2>
  <p>{{ body }}</p>
  <p>Enter example blog post here.</p>
  <p>Written by "User.username" will be entered here.{{ User.username }}</p>
</div>
